.dash {
  background-color: #f8f9fb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dash .div-6 {
  background-color: #f8f9fb;
  border: 1px none;
  height: 1117px;
  position: relative;
  width: 1728px;
}

.dash .sidebar-wrapper {
  height: 1117px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
}

.dash .sidebar-2 {
  height: 1117px;
}

.dash .sidebar-navigation-3 {
  background-color: #0c111d;
  border-radius: 0px 8px 8px 0px;
  height: 1117px;
  overflow: hidden;
  width: 80px;
}

.dash .content-14 {
  height: 1117px;
  position: relative;
}

.dash .navigation-6 {
  height: 248px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
}

.dash .header-3 {
  background-color: transparent;
  height: 32px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 80px;
}

.dash .avatar-6 {
  background-color: #1f242f;
  border-radius: 8px;
  height: 32px;
  left: 24px;
  position: relative;
  width: 32px;
}

.dash .overlap-group-4 {
  border-radius: 8px;
  height: 32px;
  position: relative;
}

.dash .user-5 {
  height: 21px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 21px;
}

.dash .navigation-7 {
  height: 160px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 80px;
}

.dash .nav-item-button-5 {
  background-color: #1f242f;
  border-radius: 6px;
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 48px;
}

.dash .img-5 {
  height: 24px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.dash .nav-item-button-6 {
  background-color: #0c111d;
  border-radius: 6px;
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 56px;
  width: 48px;
}

.dash .nav-item-button-7 {
  background-color: #0c111d;
  border-radius: 6px;
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 112px;
  width: 48px;
}

.dash .footer-3 {
  background-color: transparent;
  height: 144px;
  left: 0;
  position: absolute;
  top: 973px;
  width: 80px;
}

.dash .navigation-8 {
  height: 48px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 48px;
}

.dash .nav-item-button-8 {
  background-color: #0c111d;
  border-radius: 6px;
  height: 48px;
  overflow: hidden;
  position: relative;
}

.dash .component-2 {
  height: 48px;
  left: 16px;
  position: absolute;
  top: 72px;
  width: 48px;
}

.dash .overlap-group-5 {
  border-radius: 8px;
  height: 48px;
  position: relative;
}

.dash .contrast-border-wrapper {
  background-color: #1f242f;
  border-radius: 8px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.dash .contrast-border {
  background-color: #1f242f;
  border-radius: 8px;
  height: 48px;
}

.dash .group-35 {
  background-image: url(../../../static/img/group-3058-3.png);
  background-size: 100% 100%;
  height: 28px;
  left: 19px;
  position: absolute;
  top: 10px;
  width: 11px;
}

.dash .main {
  height: 1117px;
  left: 80px;
  position: absolute;
  top: 0;
  width: 1386px;
}

.dash .header-section {
  height: 125px;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 1322px;
}

.dash .group-36 {
  height: 125px;
  position: relative;
}

.dash .page-header-2 {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1322px;
}

.dash .content-15 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1322px;
}

.dash .text-and-supporting-9 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1111px;
}

.dash .text-48 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: -1px;
  width: 1111px;
}

.dash .text-wrapper-49 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 38px;
}

.dash .button-wrapper {
  height: 40px;
  left: 1127px;
  position: absolute;
  top: 0;
  width: 195px;
}

.dash .button-5 {
  all: unset;
  background-color: #e7181f;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.dash .text-padding-14 {
  height: 20px;
  left: 14px;
  position: absolute;
  top: 10px;
  width: 143px;
}

.dash .text-49 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.dash .text-wrapper-50 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}

.dash .plus-2 {
  height: 20px;
  left: 161px;
  position: absolute;
  top: 10px;
  width: 20px;
}

.dash .divider-6 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 1322px;
}

.dash .tabs-and-filters {
  height: 51px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 1322px;
}

.dash .button-group {
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 40px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 148px;
}

.dash .button-group-base {
  background-color: #ffffff;
  height: 42px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 150px;
}

.dash .text-50 {
  color: #344054;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.dash .text-wrapper-51 {
  color: #344054;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}

.dash .actions-2 {
  height: 40px;
  left: 1223px;
  position: absolute;
  top: 0;
  width: 99px;
}

.dash .buttons-button-8 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.dash .filter-lines {
  height: 20px;
  left: 14px;
  position: absolute;
  top: 10px;
  width: 20px;
}

.dash .text-padding-15 {
  height: 20px;
  left: 38px;
  position: absolute;
  top: 10px;
  width: 47px;
}

.dash .text-51 {
  color: #344054;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.dash .frame-8 {
  height: 176px;
  left: 32px;
  position: absolute;
  top: 181px;
  width: 1321px;
}

.dash .metric-item {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 176px;
  left: 0;
  position: absolute;
  top: 0;
  width: 424px;
}

.dash .overlap-group-6 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 23px;
  width: 376px;
}

.dash .heading {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 376px;
}

.dash .text-wrapper-52 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.dash .dropdown {
  background-image: url(../../../static/img/help-circle-8.png);
  background-size: 100% 100%;
  height: 20px;
  left: 356px;
  position: absolute;
  top: 1px;
  width: 20px;
}

.dash .number-and-chart {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 72px;
  width: 376px;
}

.dash .number-and-badge {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 232px;
}

.dash .number {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 600;
  left: 0;
  letter-spacing: -0.72px;
  line-height: 44px;
  position: absolute;
  top: -1px;
  width: 232px;
}

.dash .text-wrapper-53 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.dash .change-and-text {
  height: 20px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 232px;
}

.dash .change {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 49px;
}

.dash .img-6 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.dash .change-2 {
  color: #0d9383;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 22px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.dash .text-wrapper-54 {
  color: #0d9383;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}

.dash .text-52 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 57px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  width: 175px;
}

.dash .text-wrapper-55 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}

.dash .frame-9 {
  background-color: #fbfcfc;
  border-radius: 8px;
  height: 64px;
  left: 248px;
  position: absolute;
  top: 16px;
  width: 128px;
}

.dash .metric-item-2 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 176px;
  left: 448px;
  position: absolute;
  top: 0;
  width: 424px;
}

.dash .change-3 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.dash .text-53 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 51px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  width: 181px;
}

.dash .metric-item-3 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 176px;
  left: 897px;
  position: absolute;
  top: 0;
  width: 424px;
}

.dash .change-4 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 56px;
}

.dash .change-5 {
  color: #f53d68;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 22px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.dash .text-wrapper-56 {
  color: #f53d68;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}

.dash .text-54 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 64px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  width: 168px;
}

.dash .frame-10 {
  height: 350px;
  left: 32px;
  position: absolute;
  top: 381px;
  width: 1322px;
}

.dash .card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 350px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 649px;
}

.dash .content-16 {
  height: 350px;
  position: relative;
}

.dash .section-header {
  height: 52px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 601px;
}

.dash .content-17 {
  height: 52px;
  position: relative;
}

.dash .text-and-supporting-10 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 565px;
}

.dash .text-55 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: -1px;
  width: 565px;
}

.dash .text-wrapper-57 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}

.dash .supporting-text-7 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.dash .text-wrapper-58 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.dash .dropdown-2 {
  background-image: url(../../../static/img/help-circle-8.png);
  background-size: 100% 100%;
  height: 20px;
  left: 581px;
  position: absolute;
  top: 0;
  width: 20px;
}

.dash .frame-11 {
  background-color: #fbfcfc;
  border-radius: 8px;
  height: 226px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 601px;
}

.dash .card-2 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 350px;
  left: 673px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 649px;
}

.dash .frame-12 {
  height: 350px;
  left: 32px;
  position: absolute;
  top: 755px;
  width: 1322px;
}

.dash .supporting-text-8 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 31px;
  width: 565px;
}
