.modal-report-empty-screen {
  background-color: #0c111db2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.modal-report-empty-screen .modal-report-empty-2 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: #0c111db2;
  border: 1px none;
  height: 1117px;
  width: 1728px;
}

.modal-report-empty-screen .modal-3 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;
  height: 819px;
  left: 520px;
  overflow: hidden;
  position: relative;
  top: 149px;
  width: 688px;
}

.modal-report-empty-screen .modal-header-3 {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 688px;
}

.modal-report-empty-screen .div-7 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 688px;
}

.modal-report-empty-screen .text-and-supporting-11 {
  height: 52px;
  left: 24px;
  position: relative;
  top: 24px;
  width: 640px;
}

.modal-report-empty-screen .text-56 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: -1px;
  width: 640px;
}

.modal-report-empty-screen .text-wrapper-59 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}

.modal-report-empty-screen .supporting-text-9 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 31px;
  width: 640px;
}

.modal-report-empty-screen .text-wrapper-60 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.modal-report-empty-screen .button-close-x-2 {
  border-radius: 8px;
  height: 44px;
  left: 632px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  width: 44px;
}

.modal-report-empty-screen .x-close-3 {
  height: 24px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 24px;
}

.modal-report-empty-screen .divider-7 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 688px;
}

.modal-report-empty-screen .form-wrapper {
  height: 597px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 688px;
}

.modal-report-empty-screen .form-4 {
  height: 577px;
  left: 24px;
  position: relative;
  top: 20px;
  width: 640px;
}

.modal-report-empty-screen .row-13 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 640px;
}

.modal-report-empty-screen .text-57 {
  color: #344054;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  width: 160px;
}

.modal-report-empty-screen .text-wrapper-61 {
  color: #344054;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}

.modal-report-empty-screen .input-field-7 {
  height: 44px;
  left: 192px;
  position: absolute;
  top: 0;
  width: 448px;
}

.modal-report-empty-screen .input-with-label-7 {
  height: 44px;
}

.modal-report-empty-screen .input-10 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 44px;
  width: 448px;
}

.modal-report-empty-screen .content-18 {
  height: 24px;
  left: 14px;
  position: relative;
  top: 10px;
  width: 420px;
}

.modal-report-empty-screen .text-58 {
  color: #667085;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 420px;
}

.modal-report-empty-screen .text-wrapper-62 {
  color: #667085;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-report-empty-screen .row-14 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 640px;
}

.modal-report-empty-screen .input-11 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 44px;
  position: relative;
  width: 448px;
}

.modal-report-empty-screen .add-on-2 {
  border-radius: 8px 0px 0px 8px;
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 225px;
}

.modal-report-empty-screen .text-59 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.modal-report-empty-screen .text-wrapper-63 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-report-empty-screen .text-input-2 {
  background-color: #ffffff;
  border-radius: 0px 8px 8px 0px;
  height: 44px;
  left: 225px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 223px;
}

.modal-report-empty-screen .text-60 {
  color: #667085;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 9px;
  width: 195px;
}

.modal-report-empty-screen .row-15 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 640px;
}

.modal-report-empty-screen .row-16 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 180px;
  width: 640px;
}

.modal-report-empty-screen .row-17 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 240px;
  width: 640px;
}

.modal-report-empty-screen .row-18 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 300px;
  width: 640px;
}

.modal-report-empty-screen .input-12 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 44px;
  left: 192px;
  position: absolute;
  top: 0;
  width: 448px;
}

.modal-report-empty-screen .span-3 {
  background: transparent;
  border: none;
  color: #667085;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
}

.modal-report-empty-screen .divider-8 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 360px;
  width: 640px;
}

.modal-report-empty-screen .row-19 {
  height: 200px;
  left: 0;
  position: absolute;
  top: 377px;
  width: 640px;
}

.modal-report-empty-screen .textarea-input-field-3 {
  height: 200px;
  left: 192px;
  position: absolute;
  top: 0;
  width: 448px;
}

.modal-report-empty-screen .input-with-label-8 {
  height: 154px;
  left: 0;
  position: absolute;
  top: 0;
  width: 448px;
}

.modal-report-empty-screen .input-13 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 154px;
  overflow: hidden;
  position: relative;
}

.modal-report-empty-screen .text-61 {
  color: #667085;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 11px;
  width: 420px;
}

.modal-report-empty-screen .hint-text-2 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 159px;
  width: 448px;
}

.modal-report-empty-screen .modal-actions-3 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 694px;
  width: 688px;
}

.modal-report-empty-screen .divider-wrap-3 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 688px;
}

.modal-report-empty-screen .content-19 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 688px;
}

.modal-report-empty-screen .buttons-button-9 {
  all: unset;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  box-sizing: border-box;
  height: 44px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 314px;
}

.modal-report-empty-screen .text-padding-16 {
  height: 24px;
  left: 128px;
  position: relative;
  top: 10px;
  width: 58px;
}

.modal-report-empty-screen .text-62 {
  color: #344054;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.modal-report-empty-screen .text-wrapper-64 {
  color: #344054;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-report-empty-screen .buttons-button-10 {
  background-color: #e7181f;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 44px;
  left: 350px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 314px;
}

.modal-report-empty-screen .text-padding-17 {
  height: 24px;
  left: 106px;
  position: relative;
  top: 10px;
  width: 103px;
}

.modal-report-empty-screen .text-63 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.modal-report-empty-screen .text-wrapper-65 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
