.modal-incident {
  background-color: #0c111db2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.modal-incident .modal-wrapper-4 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: #0c111db2;
  border: 1px none;
  height: 1117px;
  width: 1728px;
}

.modal-incident .modal-6 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;
  height: 886px;
  left: 262px;
  overflow: hidden;
  position: relative;
  top: 116px;
  width: 1204px;
}

.modal-incident .modal-header-6 {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1204px;
}

.modal-incident .div-10 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1204px;
}

.modal-incident .text-and-supporting-14 {
  height: 52px;
  left: 24px;
  position: relative;
  top: 24px;
  width: 1156px;
}

.modal-incident .text-69 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: -1px;
  width: 1156px;
}

.modal-incident .text-wrapper-73 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}

.modal-incident .supporting-text-12 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 31px;
  width: 1156px;
}

.modal-incident .text-wrapper-74 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.modal-incident .button-close-x-5 {
  border-radius: 8px;
  height: 44px;
  left: 1148px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  width: 44px;
}

.modal-incident .x-close-6 {
  height: 24px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 24px;
}

.modal-incident .divider-13 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 1204px;
}

.modal-incident .element-wrapper {
  height: 699px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 1204px;
}

.modal-incident .element {
  height: 695px;
  left: 22px;
  position: absolute;
  top: 4px;
  width: 1160px;
}

.modal-incident .divider-wrap-6 {
  height: 90px;
  left: 0;
  position: absolute;
  top: 796px;
  width: 1204px;
}

.modal-incident .divider-14 {
  height: 1px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 1204px;
}

.modal-incident .group-39 {
  border-radius: 8px;
  height: 44px;
  left: 346px;
  position: absolute;
  top: 24px;
  width: 512px;
}

.modal-incident .buttons-button-14 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  height: 44px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 250px;
}

.modal-incident .lightning-2 {
  height: 20px;
  left: 82px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.modal-incident .text-padding-21 {
  height: 24px;
  left: 108px;
  position: absolute;
  top: 10px;
  width: 60px;
}

.modal-incident .text-70 {
  color: #c31218;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.modal-incident .text-wrapper-75 {
  color: #c31218;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-incident .buttons-button-15 {
  all: unset;
  background-color: #e7181f;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  box-sizing: border-box;
  height: 44px;
  left: 262px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 250px;
}

.modal-incident .download-3 {
  height: 20px;
  left: 71px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.modal-incident .text-padding-22 {
  height: 24px;
  left: 97px;
  position: absolute;
  top: 10px;
  width: 82px;
}

.modal-incident .text-71 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.modal-incident .text-wrapper-76 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
