.modal-OSHA-log {
  background-color: #0c111db2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.modal-OSHA-log .modal-wrapper-3 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: #0c111db2;
  border: 1px none;
  height: 1117px;
  width: 1728px;
}

.modal-OSHA-log .modal-5 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;
  height: 886px;
  left: 262px;
  overflow: hidden;
  position: relative;
  top: 116px;
  width: 1204px;
}

.modal-OSHA-log .modal-header-5 {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1204px;
}

.modal-OSHA-log .div-9 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1204px;
}

.modal-OSHA-log .text-and-supporting-13 {
  height: 52px;
  left: 24px;
  position: relative;
  top: 24px;
  width: 1156px;
}

.modal-OSHA-log .text-67 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: -1px;
  width: 1156px;
}

.modal-OSHA-log .text-wrapper-70 {
  color: #101828;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}

.modal-OSHA-log .supporting-text-11 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 31px;
  width: 1156px;
}

.modal-OSHA-log .text-wrapper-71 {
  color: #475467;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.modal-OSHA-log .button-close-x-4 {
  border-radius: 8px;
  height: 44px;
  left: 1148px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  width: 44px;
}

.modal-OSHA-log .x-close-5 {
  height: 24px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 24px;
}

.modal-OSHA-log .divider-11 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 1204px;
}

.modal-OSHA-log .content-20 {
  height: 699px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 1204px;
}

.modal-OSHA-log .image-2 {
  height: 695px;
  left: 22px;
  position: absolute;
  top: 4px;
  width: 1160px;
}

.modal-OSHA-log .divider-wrap-5 {
  height: 90px;
  left: 0;
  position: absolute;
  top: 796px;
  width: 1204px;
}

.modal-OSHA-log .divider-12 {
  height: 1px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 1204px;
}

.modal-OSHA-log .group-38 {
  all: unset;
  border-radius: 8px;
  box-sizing: border-box;
  height: 44px;
  left: 477px;
  position: absolute;
  top: 24px;
  width: 250px;
}

.modal-OSHA-log .buttons-button-13 {
  all: unset;
  background-color: #e7181f;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  box-sizing: border-box;
  height: 44px;
  overflow: hidden;
  position: relative;
}

.modal-OSHA-log .download-2 {
  height: 20px;
  left: 71px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.modal-OSHA-log .text-padding-20 {
  height: 24px;
  left: 97px;
  position: absolute;
  top: 10px;
  width: 82px;
}

.modal-OSHA-log .text-68 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.modal-OSHA-log .text-wrapper-72 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
